{% extends 'layout.html' %}

{% block content %}

    <div class="container">

        <p class="divider">
            Informatie
        </p>

        <div class="card">

            <h2 class="title">
                {{ client['name'] }}
                {% if client['status'] == 3 %}
                    <i class="fa fa-bell " aria-hidden="true"></i>
                {% endif %}
                <i id="stopAlarm" data-id="{{ client['client_id'] }}" class="fa fa-stop right" aria-hidden="true"></i>
                <i id="startAlarm" data-id="{{ client['client_id'] }}" class="fa fa-play right" aria-hidden="true"></i>
                <i id="triggerAlarm" data-id="{{ client['client_id'] }}" class="fa fa-exclamation-triangle right" aria-hidden="true"></i>
            </h2>
            <table>
                <tbody>
                <tr>
                    <td><h3>Code: {{ client['client_id'] }}</h3></td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            Status:
                            {% if client['online'] == 0 %}
                                <span class="offline">Offline</span>
                            {% else %}
                                <span class="online">Online</span>
                            {% endif %}
                        </h3>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>


        {% if logs %}

            <p class="divider">
                Logs
            </p>

            {% for log in logs %}

                <div class="card">
                    <p>
                        [{{ log['timestamp'] }}]
                        {% if log['status'] == 0 %}
                            <p>Het systeem is uitgeschakeld</p>
                        {% elif log['status'] == 1 %}
                            <p>Het systeem is ingeschakeld</p>
                        {% elif log['status'] == 2 %}
                            <p>Het systeem geeft aan dat er een sensor is geactiveerd</p>
                        {% elif log['status'] == 3 %}
                            <p>Het systeem geeft aan dat het alarm afgaat</p>
                        {% endif %}
                    </p>
                </div>

            {% endfor %}

        {% endif %}


    </div>

{% endblock %}