{% extends 'layout.html' %}

{% block content %}

    <div class="container">

        <p class="divider">
            Clients
            <a class="btn right" href="/client/add">Toevoegen</a>
        </p>

        {% if clients %}

            {% for client in clients %}

                <a href="/client/{{ client['client_id'] }}">
                    <div class="card">

                        <h2 class="title">
                            {{ client['name'] }}
                        </h2>
                        <table>
                            <tbody>
                            <tr>
                                <td><h3>Code: {{ client['client_id'] }}</h3></td>
                                <td><h3>Logs: 40</h3></td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        Status:
                                        {% if client['online'] == 0 %}
                                            <span class="offline">Offline</span>
                                        {% else %}
                                            <span class="online">Online</span>
                                        {% endif %}
                                    </h3>
                                </td>
                                <td>
                                    <h3>
                                        Modus:
                                        {% if client['online'] == 0 %}
                                            <span>Gepauzeerd</span>
                                        {% else %}
                                            <span>Actief</span>
                                        {% endif %}
                                    </h3>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </a>

            {% endfor %}

        {% else %}

            <div class="card">
                <h2 class="title">Geen clients gevonden</h2>
            </div>

        {% endif %}


    </div>

{% endblock %}