<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vision - CSN Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='global.js') }}"></script>
</head>
<body>

    <div class="main-header">
        <a href="/">
            <div class="title">VISION<sup>BETA</sup></div>
        </a>
    </div>

    {% block content %}
    {% endblock %}

    <div class="main-footer">
        <p>&copy; 2017 VISION ALL RIGHTS RESERVED</p>
    </div>

</body>
</html>